p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.span-friend {
    background: lightblue;
    color: white;
    padding: 0px 8px;
    display: inline-block;
    border-radius: 4px;
}

.span-group {
    background: orange;
    color: white;
    padding: 0px 8px;
    display: inline-block;
    border-radius: 4px;
}

.span-admin {
    background: mediumseagreen;
    color: white;
    padding: 0px 8px;
    display: inline-block;
    border-radius: 4px;
}

.span-bot-admin {
    background-color: crimson;
    color: white;
    padding: 0px 8px;
    display: inline-block;
    border-radius: 4px;
}

.span-bot-helper {
    background-color: lightcoral;
    color: white;
    padding: 0px 8px;
    display: inline-block;
    border-radius: 4px;
}

.span-off {
    background: grey;
    color: white;
    padding: 0px 8px;
    display: inline-block;
    border-radius: 4px;
}
