default_install_hook_types: [pre-commit, prepare-commit-msg]
ci:
  autofix_commit_msg: ":rotating_light: auto fix by pre-commit hooks"
  autofix_prs: true
  autoupdate_branch: master
  autoupdate_schedule: monthly
  autoupdate_commit_msg: ":arrow_up: auto update by pre-commit hooks"
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.281
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        stages: [commit]
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.2.0
    hooks:
      - id: pycln
        args: [--config, pyproject.toml]
        stages: [commit]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        stages: [commit]
